{% extends "base.html" %}
{% block title %}

  Checkout | Vriksh

{% endblock %}

{% block content %}
<div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
  <div class="row">
{% if not billing_profile %}
    <div class='row text-center'>
    <div class='col-12 col-md-6'>
        <p class='lead'>Login</p>
        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
    </div>
    <div class='col-12 col-md-6'> 
        Continue as Guest

        {% url "guest_register" as guest_register_url %}
        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
    </div>

    </div>

{% else %}
            
        {% if not object.shipping_address and shipping_address_required %}

         <div class='row'>
            <div class='col-12'>
                <p class='lead'>Shipping Address</p>
                <hr/>
            </div>
            <div class='col-6'>
                

           

                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'



             </div>
         <div class='col-6'>
            {% url 'checkout_address_reuse' as checkout_address_reuse %}
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
            </div>
        </div>


        {% elif not object.billing_address %}
        <div class='row'>
            <div class='col-12'>
                 <p class='lead'>Billing Address</p>
                <hr/>
            </div>
            <div class='col-6'>
               
            {% url "checkout_address_create" as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
              <div class='col-6'>
                {% url 'checkout_address_reuse' as checkout_address_reuse %}
             {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri  address_type='billing' action_url=checkout_address_reuse %}
         </div>

         
        </div>
        {% else %}
            {% if not has_card %}
                <!-- enter credit card here -->
                <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
            {% else %}
                <h1>Finalize Checkout</h1>
                <br />
                <p class="col-12"><strong>Cart Items:</strong> {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p class="col-6"><strong>Shipping Address:</strong> {{ object.shipping_address_final }}</p>
                <p class="col-6"><strong>Billing Address:</strong> {{ object.billing_address_final }}</p>
                <p class="col-6"><strong>Payment Method:</strong> {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p>
                <p class="col-6"><strong>Cart Total:</strong> {{ object.cart.total }}</p>
                <p class="col-6"><strong>Shipping Total:</strong> {{ object.shipping_total }}</p>
                <p class="col-6"><strong>Order Total:</strong> {{ object.total }}</p>

                <form class='form' method='POST' action="">{% csrf_token %}
                    <br /><button type='submit' class='btn btn-default btn-primary transition-3d-hover'>Checkout</button>
                </form>
            {% endif %}
        {% endif %}
{% endif %}
</div>
</div>
</div>
{% endblock %}