{% extends "base.html" %}

{% block title %}

  Login | Vriksh

{% endblock %}
{% block content %}

    <!-- Form -->
    <div class="d-flex align-items-center position-relative height-lg-100vh">
      <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
        <div class="w-100 p-5">
          <!-- SVG Quote -->
          <figure class="text-center mb-5 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
               viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
              <path class="fill-white" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
            </svg>
          </figure>
          <!-- End SVG Quote -->

          <!-- Testimonials Carousel Main -->
          <div class="js-slick-carousel mb-4">
            <div>
              <!-- Testimonials -->
              <div class="w-md-80 w-lg-60 text-center mx-auto">
                <blockquote class="h5 text-white font-weight-normal mb-4">A human breathes about 740kg of oxygen per year. Which is, very roughly, seven or eight trees’ worth.</blockquote>
              </div>
              <!-- End Testimonials -->
            </div>           
          </div>
          <!-- End Testimonials Carousel Main -->
        </div>
      </div>

      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3">
            <!-- Form -->
            <h1 class="h3 text-primary font-weight-normal mb-0">Welcome <span class="font-weight-semi-bold">back</span></h1>
            <p>Login to manage your account.</p>
            <form method='POST'>{% csrf_token %}
              <div class="js-form-message form-group">
                <label class="form-label" for="signinSrEmail">Email address</label>
                {{ form.email }}
              </div>

              <div class="js-form-message form-group">
                <label class="form-label" for="signinSrPassword">
                  <span class="d-flex justify-content-between align-items-center">
                    Password
                    <a class="link-muted text-capitalize font-weight-normal" href="recover-account.html">Forgot Password?</a>
                  </span>
                </label>
                {{ form.password }}
              </div>

              <div class="row align-items-center mb-5">

          <div class="col-6">
              <span class="small text-muted">Don't have an account?</span>
              <a class="small" href="{% url 'register' %}">Signup</a>
            </div>  
            <div class="col-6 text-right">
              <button type='submit' class='btn btn-default btn-primary transition-3d-hover'>Submit</button>
          </div></div>
        </form>
            <!-- End Form -->
            <br>
            <p>- OR Login Using -</p>
            {% load socialaccount %}
            <a href="{% provider_login_url "facebook" method="oauth2" %}?next={{request.path}}">
            <button type="button" class="btn btn-facebook mb-1">Facebook</button></a>
            {% load socialaccount %}
            <a href="{% provider_login_url "google" %}">
            <button type="button" class="btn btn-google mb-1">Google</button></a>
            <button type="button" class="btn btn-twitter mb-1">Twitter</button>
          </div>
        </div>
    
    </div>
    <!-- End Form -->
  
{% endblock %}