{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- ========== MAIN CONTENT ========== -->
        <!-- Hero Section -->
          <div class="bg-img-hero space-top-md-3 space-top-lg-3" style="background-image: url({% static 'img/vriksh-plantation.jpg' %});">
            <div class="container space-2 space-top-md-5 space-bottom-md-3 space-top-lg-3">
              <div class="w-md-65 w-lg-35">
          <div class="mb-4">
            <h1 class="font-weight-semi-bold text-white">It's never too late to plant a sapling</h1>
            <p class="text-white">Why decorate your place with plastic plants? Go Green! Breathe Fresh Indoors & Outdoors.</p>
          </div>
          <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="http://127.0.0.1:8000/products">Shop Now</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
<!-- Features Section -->
<div class="border-bottom">
  <div id="featuresSVG" class="container space-2">
    <div class="row">
      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Contacts -->
        <div class="media">
          <figure class="ie-height-56 w-100 max-width-8 mr-4">
            <img src="{% static 'svg/icons/icon-4.svg' %}" alt="SVG"
                 data-parent="#featuresSVG">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-1">24/7 Support</h4>
            <p class="font-size-1 mb-0">Contact us 24 hours a day, 7 days a week.</p>
          </div>
        </div>
        <!-- End Contacts -->
      </div>

      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Contacts -->
        <div class="media">
          <figure class="ie-height-56 w-100 max-width-8 mr-4">
            <img type="image/svg+xml" class="js-svg-injector" src="{% static 'svg/icons/icon-64.svg' %}" alt="SVG"
                 data-parent="#featuresSVG">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-1">30 Days return</h4>
            <p class="font-size-1 mb-0">We offer you a full refund within 30 days of purchase.</p>
          </div>
        </div>
        <!-- End Contacts -->
      </div>

      <div class="col-md-4">
        <!-- Contacts -->
        <div class="media">
          <figure class="ie-height-56 w-100 max-width-8 mr-4">
            <img class="js-svg-injector" src="{% static 'svg/icons/icon-65.svg' %}" alt="SVG"
                 data-parent="#featuresSVG">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-1">Free shipping</h4>
            <p class="font-size-1 mb-0">Automatically receive free standard shipping on every order.</p>
          </div>
        </div>
        <!-- End Contacts -->
      </div>
    </div>
  </div>
</div>
<!-- End Features Section -->

    <!-- Categories Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">Shop by category</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="{% static 'img/380x400/rose.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/380x360/chrysanthemum.jpg' %}" alt="Image Description">
                </div>
                <img class="img-fluid" src="{% static 'img/Chrysanthemum.png' %}" alt="Image Description">
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Flowering Plants</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from $29.99</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="{% static 'img/380x400/young-lemon-tree.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/Pomegranate.png' %}" alt="Image Description">
                </div>
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Fruit Plants</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from Rs. 399.99</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-md-4">
          <!-- Card -->
          <div class="card d-block">
            <div class="card-body d-flex align-items-center p-0">
              <div class="w-65 border-right">
                <img class="img-fluid" src="{% static 'img/380x400/basil-pot.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/380x360/herbs.jpg' %}" alt="Image Description">
                </div>
                <img class="img-fluid" src="https://vriksh-static.s3.amazonaws.com/media/products/1259641045/1259641045.jpg" alt="Image Description">
              </div>
            </div>
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Herbs</h3>
              <span class="d-block text-muted font-size-1 mb-3">Starting from Rs. 299</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Categories Section -->

    <!-- Products Section -->
    <div class="container space-bottom-2 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">What's trending</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="{% static 'img/320x320/new-release-buy-plants.jpg' %}" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">New releases</h3>
              <span class="d-block text-muted font-size-1 mb-3">300+ & counting</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3 mb-5 mb-lg-0">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="{% static 'img/320x320/palm-tree.jpg' %}" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Sale</h3>
              <span class="d-block text-muted font-size-1 mb-3">30% off orders $50+</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="{% static 'img/320x320/bonsai.jpg' %}" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Best sellers</h3>
              <span class="d-block text-muted font-size-1 mb-3">Pole and interesting</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>

        <div class="col-6 col-lg-3">
          <!-- Card -->
          <div class="card d-block">
            <img class="card-img-top" src="{% static 'img/320x320/trending.jpg' %}" alt="Image Description">
            <div class="card-footer text-center py-4">
              <h3 class="h5 mb-1">Casual</h3>
              <span class="d-block text-muted font-size-1 mb-3">Can you casual it?</span>
              <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Products Section -->

    <!-- Hero Section -->
    <div class="bg-img-hero-center" style="background-image: url({% static 'img/1920x800/border-of-various-potted-plants-on-craft-paper.jpg' %});">
      <div class="container space-2 space-lg-3">
        <div class="w-md-65 w-lg-35">
          <div class="mb-4">
            <h2 class="h1 text-white font-weight-semi-bold">Greenify Your Space</h2>
            <p class="text-white">The best time to plant a tree was twenty years ago. The second best time is NOW.</p>
          </div>
          <a class="btn btn-white btn-pill transition-3d-hover px-5" href="#">Shop the Collection</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  
  <!-- ========== END MAIN CONTENT ========== -->

  {% endblock %}
