{% extends "base.html" %}
{% load static %}
{% block css %}
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/ion-rangeslider/css/ion.rangeSlider.css' %}">

{% endblock %}
{% block content %}
 <!-- Search Section -->
 
 <div class="bg-light">
        <div class="container space-1">
            <!-- Content -->
          <div class="row mx-gutters-2">
              <form class="js-focus-state input-group input-group-lg"method="GET" action="{% url "search:query" %}">

              <div class="col-lg mb-3 mb-lg-0">

          <!-- Search Property Input -->
          <div class="js-focus-state">
            <label class="sr-only" for="searchPropertySr">Search property</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="searchProperty">
                  <span class="fas fa-search"></span>
                </span>
              </div> 
              <input type="text" class="form-control" name="q" id="searchPropertySr" placeholder="Search property" aria-label="Search" aria-describedby="searchProperty" value="Herbs">
            </div>
          </div>
          <!-- End Search Property Input -->
        </div>

        <div class="col-sm-auto">
          <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </div>
</form>
      </div>
    </div>
  </div>
  <!-- End Search Section -->


    <!-- Topbar Filters Section -->
    <div class="container space-1">
        <!-- Title -->
        <div class="mb-4">
          <h1 class="h4 font-weight-medium">Plants for sale</h1>
        </div>
        <!-- End Title -->
  
        <div class="row align-items-center">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <!-- Select -->
              <select class="js-select selectpicker dropdown-select mr-2"
                      data-size="10"
                      data-width="fit"
                      data-style="btn-soft-secondary btn-xs">
                <option value="showing25" selected>25</option>
                <option value="showing10">10</option>
                <option value="showing20">50</option>
                <option value="showing30">100</option>
              </select>
              <!-- End Select -->
  
              <span class="text-secondary font-size-1">Showing 1-6 of 27</span>
            </div>
          </div>
  
          <div class="col-sm-6">
            <div class="d-flex justify-content-sm-end align-items-center">
              <!-- Select -->
              <select class="js-select selectpicker dropdown-select mr-2"
                      data-size="10"
                      data-width="fit"
                      data-style="btn-soft-secondary btn-xs">
                <option value="mostRecent" selected>Most recent</option>
                <option value="HighestPrice">Highest price</option>
                <option value="LowestPrice">Lowest price</option>
                <option value="mostReduced">Most reduced</option>
                <option value="mostPopular">Most popular</option>
              </select>
              <!-- End Select -->
  
              <a class="btn btn-xs btn-soft-secondary mr-2" href="javascript:;">
                <span class="fa fa-map-marked-alt mr-1"></span>
                View Map
              </a>
  
              <!-- Button Group -->
              <div class="btn-group btn-group-toggle d-flex">
                <a class="btn btn-xs btn-outline-secondary btn-custom-toggle-primary flex-fill active" href="property-grid.html">
                  <span class="fas fa-th-large"></span>
                </a>
                <a class="btn btn-xs btn-outline-secondary btn-custom-toggle-primary flex-fill" href="property-list.html">
                  <span class="fas fa-list"></span>
                </a>
              </div>
              <!-- End Button Group -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar Filters Section -->
  
      <!-- List of Properties Section -->
      <div class="container space-top-1 space-bottom-2">
        <div class="row">
          <div class="col-lg-9">
            <!-- Card -->
            <div class="card-deck d-block d-md-flex">
                <div class="d-lg-flex position-relative">
                    <div id="shopItemsContent" class="container space-top-1 space-bottom-2">    
                    <div class='row'>
                    {% for obj in object_list %}
                    <div class="col-sm-4 col-lg-8 mb-5">
                            {% include 'products/snippets/card.html' with instance=obj %}  
                        </div>
                    {% endfor %}
                </div>
                </div>
                </div>
  
            
            </div>
            <!-- End Card -->
  
            <!-- Pagination -->
            <div class="d-flex justify-content-between align-items-center">
              <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                  <li class="page-item ml-0">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
  
              <small class="d-none d-sm-inline-block text-secondary">Page 1 out of 6</small>
            </div>
            <!-- End Pagination -->
          </div>
  
          
      <!-- Searh Filters -->
      <div class="row">
        <!-- Filters -->
        <div class="col-lg-3">
          <form>
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Price</h4>
      
              <!-- Range Slider -->
              <input class="js-range-slider" type="text"
                     data-extra-classes="u-range-slider u-range-slider-indicator u-range-slider-grid"
                     data-type="double"
                     data-grid="true"
                     data-hide-from-to="false"
                     data-prefix="$"
                     data-min="0"
                     data-max="500"
                     data-from="25"
                     data-to="475"
                     data-result-min="#rangeSliderExample3MinResult"
                     data-result-max="#rangeSliderExample3MaxResult">
              <div class="d-flex justify-content-between mt-4">
                <input type="text" class="form-control form-control-sm max-width-10" id="rangeSliderExample3MinResult">
                <input type="text" class="form-control form-control-sm max-width-10 mt-0" id="rangeSliderExample3MaxResult">
              </div>
              <!-- End Range Slider -->
            </div>
      
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Gender</h4>
      
              <!-- Checkboxes -->
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="genderMen" checked>
                  <label class="custom-control-label text-lh-md" for="genderMen">Men</label>
                </div>
                <small>73</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="genderWomen" checked>
                  <label class="custom-control-label text-lh-md" for="genderWomen">Women</label>
                </div>
                <small>51</small>
              </div>
              <!-- End Checkboxes -->
            </div>
      
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Brand</h4>
      
              <!-- Checkboxes -->
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brandAdidas">
                  <label class="custom-control-label" for="brandAdidas">Adidas</label>
                </div>
                <small>16</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brandNewBalance">
                  <label class="custom-control-label" for="brandNewBalance">New Balance</label>
                </div>
                <small>8</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brandNike">
                  <label class="custom-control-label" for="brandNike">Nike</label>
                </div>
                <small>35</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brandFredPerry">
                  <label class="custom-control-label" for="brandFredPerry">Fred Perry</label>
                </div>
                <small>5</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brandTnf">
                  <label class="custom-control-label" for="brandTnf">The North Face</label>
                </div>
                <small>1</small>
              </div>
              <!-- End Checkboxes -->
      
              <!-- View More - Collapse -->
              <div class="collapse" id="collapseBrand">
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="brandGucci">
                    <label class="custom-control-label" for="brandGucci">Gucci</label>
                  </div>
                  <small>5</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="brandMango">
                    <label class="custom-control-label" for="brandMango">Mango</label>
                  </div>
                  <small>1</small>
                </div>
              </div>
              <!-- End View More - Collapse -->
      
              <!-- Link -->
              <a class="link link-collapse small font-size-1" data-toggle="collapse" href="#collapseBrand" role="button" aria-expanded="false" aria-controls="collapseBrand">
                <span class="link-collapse__default">View more</span>
                <span class="link-collapse__active">View less</span>
                <span class="link__icon ml-1">
                  <span class="link__icon-inner">+</span>
                </span>
              </a>
              <!-- End Link -->
            </div>
      
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Size</h4>
      
              <!-- Checkboxes -->
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="sizeS" checked>
                  <label class="custom-control-label" for="sizeS">S</label>
                </div>
                <small>27</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="sizeM">
                  <label class="custom-control-label" for="sizeM">M</label>
                </div>
                <small>18</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="sizeL" checked>
                  <label class="custom-control-label" for="sizeL">L</label>
                </div>
                <small>0</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="sizeXL">
                  <label class="custom-control-label" for="sizeXL">XL</label>
                </div>
                <small>1</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="sizeXXL">
                  <label class="custom-control-label" for="sizeXXL">XXL</label>
                </div>
                <small>2</small>
              </div>
              <!-- End Checkboxes -->
            </div>
      
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Category</h4>
      
              <!-- Checkboxes -->
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="categoryTshirt" checked>
                  <label class="custom-control-label text-lh-md" for="categoryTshirt">T-shirt</label>
                </div>
                <small>73</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="categoryShoes">
                  <label class="custom-control-label text-lh-md" for="categoryShoes">Shoes</label>
                </div>
                <small>0</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="categoryAccessories" checked>
                  <label class="custom-control-label text-lh-md" for="categoryAccessories">Accessories</label>
                </div>
                <small>51</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="categoryTops" checked>
                  <label class="custom-control-label" for="categoryTops">Tops</label>
                </div>
                <small>5</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="categoryBottom">
                  <label class="custom-control-label" for="categoryBottom">Bottom</label>
                </div>
                <small>11</small>
              </div>
              <!-- End Checkboxes -->
      
              <!-- View More - Collapse -->
              <div class="collapse" id="collapseCategory">
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="categoryShorts">
                    <label class="custom-control-label" for="categoryShorts">Shorts</label>
                  </div>
                  <small>5</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="categoryHats">
                    <label class="custom-control-label" for="categoryHats">Hats</label>
                  </div>
                  <small>3</small>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="categorySocks">
                    <label class="custom-control-label" for="categorySocks">Socks</label>
                  </div>
                  <small>8</small>
                </div>
              </div>
              <!-- End View More - Collapse -->
      
              <!-- Link -->
              <a class="link link-collapse small font-size-1" data-toggle="collapse" href="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseCategory">
                <span class="link-collapse__default">View more</span>
                <span class="link-collapse__active">View less</span>
                <span class="link__icon ml-1">
                  <span class="link__icon-inner">+</span>
                </span>
              </a>
              <!-- End Link -->
            </div>
      
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">Rating</h4>
      
              <!-- Checkboxes -->
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rating1">
                  <label class="custom-control-label" for="rating1">
                    <span class="d-block text-warning">
                      <span class="fas fa-star"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                    </span>
                  </label>
                </div>
                <small>3</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rating2">
                  <label class="custom-control-label" for="rating2">
                    <span class="d-block text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                    </span>
                  </label>
                </div>
                <small>10</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rating3">
                  <label class="custom-control-label" for="rating3">
                    <span class="d-block text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star text-muted"></span>
                      <span class="far fa-star text-muted"></span>
                    </span>
                  </label>
                </div>
                <small>34</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rating4">
                  <label class="custom-control-label" for="rating4">
                    <span class="d-block text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star text-muted"></span>
                    </span>
                  </label>
                </div>
                <small>86</small>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rating5">
                  <label class="custom-control-label" for="rating5">
                    <span class="d-block text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                    </span>
                  </label>
                </div>
                <small>102</small>
              </div>
              <!-- End Checkboxes -->
            </div>
      
            <button type="button" class="btn btn-sm btn-block btn-soft-secondary transition-3d-hover">Clear All</button>
          </form>
        </div>
        <!-- End Filters -->
      </div>
      <!-- End Search Filters -->
      
            
        </div>
      </div>
      <!-- End List of Properties Section -->
      
{% endblock %}

{% block javascript %}

<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
<script src="{% static 'js/components/hs.range-slider.js' %}"></script>

<script>
  $(document).on('ready', function () {
    // initialization of forms
    $.HSCore.components.HSRangeSlider.init('.js-range-slider');
  });
</script> 
{% endblock %}
